@import "tailwindcss";

@theme {
  --color-primary: #000000;
  --color-primary-dark: #1A1A1A;
  --color-background: #FFFFFF;
  --color-background-soft: #F5F5F5;
  --color-text-primary: #0A0A0A;
  --color-text-secondary: #1A1A1A;
  --color-accent: #000000;
  --color-border: #E0E0E0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #0A0A0A;
  background-color: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-y: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE/Edge */
}

html::-webkit-scrollbar {
  display: none;
  /* Chrome/Safari */
}

body {
  margin: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}